<title>Minecraft Server Authorization<% if (locals.title) { %> - <%=title%><% } %>
</title>
<link href="/css/sitestyle.css" rel="stylesheet" type="text/css" />
<% if (locals.head) { %>
<%=head %>
<% } %>
