<div class="LoginStatus">Logged in as <%= locals.displayName %></div>
<% if (locals.userRecord.minecraftUser.name) { %><img class="UserLogo" src="https://cravatar.eu/helmhead/<%=locals.userRecord.minecraftUser.name%>/190.png" alt="<%= locals.displayName %>'s logo" />